{% extends 'peoplemarket/base.html' %}
{% block contenido %}
<h1>Agregar Producto</h1>
<form action="">
    <label for="nombreProducto">Nombre del Producto:</label>
    <input type="text">
    <label for="categoria">Categoria</label>
    <select name="" id="">
        <option value="">Opcion1</option>
        <option value="">Opcion2</option>
    </select>
    <label for="">Subcategoria</label>
    <select name="" id="">
        <option value="">subcategoria1</option>
        <option value="">subcategoria2</option>
    </select>
    <label for="">Subir fotografia</label>
    <input type="file">
    <label for="">Precio:</label>
    <input type="text">
    <label for="">Stock Inicial:</label>
    <input type="text">

    <button type="submit">Continuar Paso 3</button>


</form>
{% endblock contenido %}