{% extends 'peoplemarket/base.html' %}
{% block contenido %}


<form action="{% url 'agregarproducto'  %}" class="d-flex flex-column">
    <label for="">Nombre de la Empresa</label>
    <input type="text">
    <label for="rubro">Rubro de la Empresa</label>
    <input type="text">
    <label for="logo">Logo de la Empresa</label>
    <input type="file">
    <label></label>
    <a class="btn btn-info" href="/" role=button >Crear Logo</a>
    <label for="">Region</label>
    <select name="" id="">
        <option value="">Region 1</option>
        <option value="">Region 2</option>
        <option value="">Region 3</option>
        <option value="">Region 4</option>
        <option value="">Region 5</option>
        <option value="">Region 6</option>
        <option value="">Region 7</option>
        <option value="">Region 8</option>
        <option value="">Region 9</option>
        <option value="">Region 10</option>
        <option value="">Region 11</option>
        <option value="">Region 12</option>
        <option value="">Region 13</option>
    </select>
    <label for="">Comuna</label>
    <select name="" id="">
        <option value="">Comuna 1</option>
        <option value="">Comuna 2</option>
        <option value="">Comuna 3</option>
    </select>

    <button class="btn btn-primary" type="submit">Avanzar</button>
</form>

{% endblock contenido %}