{% extends 'peoplemarket/base.html' %}
{% block contenido %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">PeopleMarket</h1>
            <h1 class="display-3 text-center">Crea tu empresa en internet</h1>
            <p class="lead text-center">En sólo <strong>4</strong> pasos</p>
            <hr class="center my-2">
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Comenzar</a>
            </p>
        </div>

        <h2>Tu empresa digital en solo 4 pasos </h2>
        <ul>
            <li>Ingresa los datos de tu empresa</li>
            <li>Agrega Productos</li>
            <li>Seleccion la campaña publicitaria</li>
            <li>Disfruta los resultados</li>
        </ul>

        <h2>Beneficios</h2>
        <p>Con Peoplemarket ya no te tendrás que preocupar más por tus campañas de ventas, nosotros las hacemos por ti.</p>
        <p>Te integramos con las redes sociales más populares en el mercado, te ayudamos a realizar el mercadeo de acuerdo al rubro de tu negocio</p>
        <p>Creamos por ti todo el material multimedia que necesitas</p>

        <h2>Coste</h2>
        <p>Paga sólo por lo que ganas, con Peoplemarket nos preocupamos de tu crecimiento, si tu creces nosotros también lo hacemos. El coste total del servicio es solo el 15% de la venta de cada producto</p>
    </div>
{% endblock contenido %}